[Unit]
Description=Run Database Platform workstation update every Sunday at 20:00

[Timer]
OnCalendar=Sun *-*-* 20:00:00
Persistent=true
AccuracySec=1min
RandomizedDelaySec=0
Unit=database-platform-workstation-update.service

[Install]
WantedBy=timers.target
